# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build artifacts
android/app/build/
android/build/
ios/build/
ios/DerivedData/
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
temp/
*.bundle
*.apk
*.ipa

# Environment variables
.env
.env.local
.env.*.local

# IDE and editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# React Native specific
/android/.gradle/
/android/local.properties
/ios/.xcode.env.local
/ios/project.xcworkspace/xcuserdata/
/ios/xcshareddata/
/ios/*.xcodeproj/xcuserdata/

# Metro Bundler cache
.expo/
.react-native/
.cache/
